In [1]:
import pandas as pd
import numpy as np
import pylab 
import matplotlib.pyplot as plt
from datetime import datetime
from datetime import timedelta

### Getting first purchase date using subscriber dataset

In [19]:
df_subsribers_first_pur = pd.merge(df_subsribers, df_sales, \
                                           left_on='Ship-to Address Hash',right_on='Ship-to Address Hash' ,how ='inner')

In [35]:
for i in range(1,df_subsribers_first_pur.shape[0]):
    customer_id = df_subsribers_first_pur.at[i,'Ship-to Address Hash']
    if df_subsribers_first_pur.at[i,'date'] == pd.to_datetime(df_subsribers_first_pur.at[i,'last_pur']):
        n_subscription = df_subsribers_first_pur.at[i,'subscription']
        j = i
        while n_subscription > 1: # backtracking number of subscription's orders and get the first purchase day
            n_subscription -= 1
            if df_subsribers_first_pur.at[j-1,'date'] == df_subsribers_first_pur.at[j,'date']:
                n_subscription += 1 # Skip multiple orders on the same day
            j -= 1 
        df_subsribers.loc[(df_subsribers['Ship-to Address Hash'] == customer_id),'first_pur'] = \
        df_subsribers_first_pur.at[j,'date']

In [38]:
df = df_subsribers

In [39]:
df['first_pur'] = df_subsribers['first_pur'].apply(lambda x: x.strftime('%Y-%m-%d'))

In [42]:
df['last_pur'] = pd.to_datetime(df_subsribers['last_pur']).apply(lambda x: x.strftime('%Y-%m-%d'))

In [43]:
df.head(5)

,Unnamed: 0,Ship-to Address Hash,Animal Species,index,product,first_pur,last_pur,purchase items,subscription,avg_interval,if_leave,purchase_time,sub_product,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,0,0x00002ADCF916D2802ECD88B3D49428F39BFB2FA92C5F...,DOG,0x00002ADCF916D2802ECD88B3D49428F39BFB2FA92C5F...,305010.0 488488.0,2019-05-23,2020-02-04,1,4,84,0,4,488488,NaN,NaN,NaN
1,2,0x0000C9E96CD91AEB4C4E384B02689CB8B8A3E5CCFFA0...,DOG,0x0000C9E96CD91AEB4C4E384B02689CB8B8A3E5CCFFA0...,305010.0 426025.0,2019-03-08,2019-12-20,1,10,31,1,10,426025,NaN,NaN,NaN
2,4,0x0001122835C2833EF10B8C18B9A5104E6248EBDE6066...,DOG,0x0001122835C2833EF10B8C18B9A5104E6248EBDE6066...,305010.0 561808.0,2018-06-14,2019-11-21,1,16,57,1,16,561808,NaN,NaN,NaN
3,9,0x0001FD7FC578C953EFE7BBFA62BF15710441A36A2A08...,CAT,0x0001FD7FC578C953EFE7BBFA62BF15710441A36A2A08...,471477,2018-04-03,2018-10-08,1,5,44,1,5,471477,NaN,NaN,NaN
4,17,0x0002CB61D2E2E675E5E24AD910ED8D9AF785B84C78EB...,DOG,0x0002CB61D2E2E675E5E24AD910ED8D9AF785B84C78EB...,47071,2019-10-01,2020-01-16,1,6,20,1,6,47071,NaN,NaN,NaN

In [44]:
df.to_csv("subscribers_final_sheet.csv")